In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("NPL_2017_2018.csv")

In [4]:
dataset.info

<bound method DataFrame.info of         ContractId  GenderId   Age  IndustryOfOccupationId  AreaCode  \
0           912890         2  30.0                     NaN     157.0
1            38447         3  50.0                 71050.0    1958.0
2           454418         2  41.0                     NaN    1089.0
3           797390         3  56.0                 54571.0     302.0
4           297640         2  46.0                 76374.0    2929.0
...            ...       ...   ...                     ...       ...
680708      390412         2  24.0                 20534.0    2598.0
680709      669355         3  66.0                 76940.0    2207.0
680710      239500         3  48.0                 73009.0    1056.0
680711      118611         2  36.0                     NaN    1089.0
680712       48812         2  26.0                     NaN    1491.0

        EquipmentTypeId  FinanceTypeId  ServiceApprovedDay  \
0                   NaN            NaN                  28
1                  20.0            2.0                   8
2                   NaN            NaN                  21
3                  20.0            2.0                  17
4                   NaN            NaN                  22
...                 ...            ...                 ...
680708             20.0            2.0                  20
680709             20.0            2.0                  17
680710             20.0            2.0                  25
680711              NaN            NaN                  30
680712              NaN            NaN                  26

        ServiceApprovedMonth  ServiceApprovedYear  ...  FirstInstallment  \
0                          3                 2017  ...            5940.0
1                          1                 2018  ...            8121.0
2                          3                 2018  ...            4059.0
3                          8                 2017  ...           12409.0
4                          6                 2018  ...           12602.0
...                      ...                  ...  ...               ...
680708                     7                 2017  ...           10719.0
680709                     4                 2018  ...           28190.0
680710                     4                 2017  ...           22600.0
680711                     5                 2018  ...            8592.0
680712                     6                 2018  ...            8592.0

        CreditAmount   Income  BusinessTypeId  FdStatus  SavingsStatus  \
0           142560.0      NaN              21         0              1
1           300477.0      NaN              21         0              0
2            48708.0      NaN              21         0              1
3           446724.0      NaN              21         0              0
4           449140.0      NaN              21         0              1
...              ...      ...             ...       ...            ...
680708      385884.0   7280.0              21         0              1
680709     1859334.0  76042.0              21         0              1
680710     1084800.0  67400.0              21         0              0
680711      206208.0      NaN              21         0              0
680712      206208.0  80000.0              21         0              1

        OtherLendingFacilitiesStatus  IndividualCompanyCategorytId  \
0                                  1                             2
1                                  0                             2
2                                  1                             2
3                                  0                             2
4                                  1                             2
...                              ...                           ...
680708                             0                             2
680709                             0                             2
680710                             0                             2
680711                             0                             2
680712                             0                             2

        LeasingLoanCategorytId  NPLStatus
0                            2          0
1                            1          0
2                            2          0
3                            1          0
4                            2          1
...                        ...        ...
680708                       1          0
680709                       1          1
680710                       1          0
680711                       2          0
680712                       2          1

[680713 rows x 36 columns]>